* {
  font-family: Arial, Helvetica, sans-serif;
}
#time,
#day {
  display: flex;
}

#time > div,
#day > div {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#day > div {
  padding-right: 105px;
}

#info > div {
  display: flex;
}

#info p {
  margin-right: 20px;
}

#description {
  margin-top: 75px;
}

h1 {
  margin: 0;
}

form input {
  width: 250px;
  height: 25px;
  margin-right: 10px;
}

#controls {
  display: flex;
  height: 32px;
}

#getlocation {
  height: 32px;
}

#error {
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.success {
  color: black;
  font-weight: 600;
}

#container {
  display: flex;
  justify-content: space-evenly;
}

#container div {
  margin-right: 20px;
}

#title h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 100px;
  color: rgb(28, 176, 246);
}

.leftContent,
.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 500px;
  width: 250px;
  border: 3px solid rgb(197, 197, 197);
  border-bottom: 8px solid rgb(197, 197, 197);
  border-radius: 30px;
}

.temp h2 {
  font-size: 50px;
  margin: 0;
  color: black;
}

.leftContent:hover,
.rightContent:hover {
  background-color: rgb(226, 225, 225);
  cursor: pointer;
}

.win {
  background-color: greenyellow;
  border: 3px solid rgb(114, 168, 32);
  border-bottom: 8px solid rgb(114, 168, 32);
}
.win:hover {
  background-color: rgb(217, 253, 163);
}

.lose {
  background-color: orangered;
  border: 3px solid rgb(156, 43, 2);
  border-bottom: 8px solid rgb(156, 43, 2);
}

.lose:hover {
  background-color: rgb(253, 140, 98);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
.show {
  visibility: visible;
  opacity: 1;
}
