* {
  font-family: Arial, Helvetica, sans-serif;
}
#time,
#day {
  display: flex;
}

#time > div,
#day > div {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#day > div {
  padding-right: 105px;
}

#info > div {
  display: flex;
}

#info p {
  margin-right: 20px;
}

#description {
  margin-top: 75px;
}

h1 {
  margin: 0;
}

form input {
  width: 250px;
  height: 25px;
  margin-right: 10px;
}

#controls {
  display: flex;
  height: 32px;
}

#getlocation {
  height: 32px;
}

#error {
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.success {
  color: black;
  font-weight: 600;
}

#container {
  display: flex;
  justify-content: space-evenly;
}

#container div {
  margin-right: 20px;
}

#game h1 {
  text-align: center;
  margin-bottom: 100px;
}

#left,
#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.temp h2 {
  font-size: 50px;
  margin: 0;
}
